{
  "presets": [
    // react转换插件
    "@babel/preset-react",
    // ts转换插件
    "@babel/preset-typescript",
    [
      // 先进的代码兼容插件
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          // 仅做chrome兼容
          "chrome": "70"
        }
      }
    ]
  ],
  "plugins": [
    [
      // 先进的代码兼容插件
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "useESModules": true
      }
    ],
    // 解析 @ 装饰器,它要比 @babel/plugin-proposal-class-properties 后执行
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    // class中的箭头函数中的this指向组件
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // 转译 ... 扩展符号
    // "@babel/plugin-transform-spread",
    // 解析识别import( )的动态语法，并不是转换
    "@babel/plugin-syntax-dynamic-import"
    // async await支持
    // "@babel/plugin-transform-async-to-generator"
  ]
}
